.hover,
.js{
  display:block;
  margin:10px;
  width:200px;
  padding:10px;
  cursor:pointer;

  border:1px solid black;
  background-color:#ddd;
  border-radius:5px;
}

/* Normal */
/* .hover:hover{
  background-color:red;
  color:white;
}
.hove.active:active{
  background-color:red;
  color:white;
} */

/* Media query */
@media (hover:hover){
  .hover:hover{
    background-color:red;
    color:white;
  }
}
.hover:active{
  background-color:red;
  color:white;
}

.js[data-status="mouseover"]{
  background-color:red;
  color:white;
}
