body{
  background-color:#0001;
}

h1{
  --shain-size:2.0em;
  display:block;
  text-align:center;
  border:1px solid red;
  width:250px;
  padding:10px;
  color:transparent;
  
  background: linear-gradient(to right, transparent,white 30% 70%,transparent);
  background-color:black;
  background-clip:text;
  background-size :var(--shain-size);
  background-repeat:no-repeat;
  background-position:calc(var(--shain-size) * -1) 0%;

  cursor:pointer;
}
h1:hover{
  background-position:calc(100% + var(--shain-size)) 0%;
  transition-property:background-position;
  transition-duration:0.5s;
  transition-timing-function:linear;
}
