:root {
  --c1: rgba(0,119,179,1);
  --c2: rgba(87,189,204,1);
}

#site_loader_overlay {
  display: flex;
  justify-content: center;
}

#site_loader_animation {
  width: 44px;
  height: 44px;
  position: relative;
  margin: 22px;
}

#site_loader_animation::before,
#site_loader_animation::after {
  content:"";
  width:12px;
  height:12px;
  position:absolute;
  left:0;
}

#site_loader_animation::before {
  bottom:0;
  animation:loader 5.4s linear infinite;
}

#site_loader_animation::after {
  bottom:10px;
  background:var(--c2);
  opacity:0;
  animation:base 5.4s linear infinite;
}

@keyframes loader {
  0%,5% { box-shadow:16px -8px 0 transparent,32px 0 0 transparent,0 -16px 0 transparent,16px -16px 0 transparent,32px -16px 0 transparent,0 -32px 0 transparent,16px -32px 0 transparent,32px -32px 0 rgba(242,205,123,0); }

  10% { box-shadow:16px 0 var(--c1),32px -8px transparent,0 -16px transparent,16px -16px transparent,32px -16px transparent,0 -32px transparent,16px -32px transparent,32px -32px rgba(242,205,123,0); }

  15% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -24px transparent,16px -16px transparent,32px -16px transparent,0 -32px transparent,16px -32px transparent,32px -32px rgba(242,205,123,0); }

  20% { 
    box-shadow:
      16px 0 var(--c1),
      32px 0 var(--c1),
      0 -16px var(--c1),
      16px -24px transparent,
      32px -16px transparent,
      0 -32px transparent,
      16px -32px transparent,
      32px -32px rgba(242,205,123,0); 
    }

  25% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -24px transparent,0 -32px transparent,16px -32px transparent,32px -32px rgba(242,205,123,0); }

  30% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -50px transparent,16px -32px transparent,32px -32px rgba(242,205,123,0); }

  35% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -50px transparent,32px -32px rgba(242,205,123,0); }

  40% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -50px rgba(242,205,123,0); }

  45%,55% { box-shadow:16px 0 var(--c1),32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  60% { box-shadow:16px 8px transparent,32px 0 var(--c1),0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  65% { box-shadow:16px 8px transparent,32px 8px transparent,0 -16px var(--c1),16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  70% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -16px var(--c1),32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  75% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -8px transparent,32px -16px var(--c1),0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  80% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -8px transparent,32px -8px transparent,0 -32px var(--c1),16px -32px var(--c1),32px -32px var(--c2); }

  85% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -8px transparent,32px -8px transparent,0 -24px transparent,16px -32px var(--c1),32px -32px var(--c2); }

  90% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -8px transparent,32px -8px transparent,0 -24px transparent,16px -24px transparent,32px -32px var(--c2); }

  100% { box-shadow:16px 8px transparent,32px 8px transparent,0 -8px transparent,16px -8px transparent,32px -8px transparent,0 -24px transparent,16px -24px transparent,32px -24px transparent; }
}

@keyframes base {
  0%,100% { bottom:10px; opacity:0; }
  5%,50% { bottom:0; opacity:1; }
  55% { bottom:-10px; opacity:0; }
}